## Preprocessing

In [4]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [5]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'SPECIAL_CONSIDERATIONS', 'STATUS'], axis=1)

In [6]:
# Determine the number of unique values in each column.
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
application_df[application_cat].nunique()

NAME                19568
APPLICATION_TYPE       17
AFFILIATION             6
CLASSIFICATION         71
USE_CASE                5
ORGANIZATION            4
INCOME_AMT              9
dtype: int64

In [7]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Calculate the value counts for the 'APPLICATION_TYPE' column
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()

# Filter the values based on the condition
application_types_to_replace = application_type_counts[application_type_counts < 500].index.tolist()

# View the list of application types to replace
print(application_types_to_replace)


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [9]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [10]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classifications_counts = application_df['CLASSIFICATION'].value_counts()
classifications_counts[classifications_counts > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [11]:
# Calculate the value counts for the 'APPLICATION_TYPE' column
classifications_counts = application_df['CLASSIFICATION'].value_counts()

# Filter the values based on the condition
classifications_to_replace = classifications_counts[classifications_counts < 2500].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
Other     6062
C1200     4837
Name: CLASSIFICATION, dtype: int64

In [12]:
# Convert categorical data to numeric with `pd.get_dummies`
df_application_dummies = pd.get_dummies(application_df,dtype=float)
df_application_dummies

,ASK_AMT,IS_SUCCESSFUL,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,NAME_13TH BOMB SQUADRON ASSOCIATION,NAME_146TH ALUMNI ASSOCIATION,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34295,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34296,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34297,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34298,36500179,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [ ]:
# Split our preprocessed data into our features and target arrays
y = df_application_dummies['IS_SUCCESSFUL'].values
X = df_application_dummies.drop(['IS_SUCCESSFUL'],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=33)

<ipython-input-13-f770a850e3a4>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = df_application_dummies.drop(['IS_SUCCESSFUL'],1).values

In [1]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

NameError: ignored

## Compile, Train and Evaluate the Model

In [63]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  66
hidden_nodes_layer2 =  9
hidden_nodes_layer3 =  3
#hidden_nodes_layer4 =  11
nn = tf.keras.models.Sequential()


# First hidden layer
# Changing activation method from relu to tanh, selu, para_relu
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="tanh")
)


# Second hidden layer
# Changing activation method from relu to 
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Fourth hidden layer
#nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_14"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_55 (Dense)            (None, 66)                2310

 dense_56 (Dense)            (None, 9)                 603

 dense_57 (Dense)            (None, 3)                 30

 dense_58 (Dense)            (None, 1)                 4

=================================================================
Total params: 2,947
Trainable params: 2,947
Non-trainable params: 0
_________________________________________________________________

In [64]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer="adam", metrics=["accuracy"])

In [65]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=103)

Epoch 1/103
804/804 [==============================] - 3s 2ms/step - loss: 0.5847 - accuracy: 0.7084
Epoch 2/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5676 - accuracy: 0.7207
Epoch 3/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5657 - accuracy: 0.7206
Epoch 4/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5647 - accuracy: 0.7207
Epoch 5/103
804/804 [==============================] - 2s 3ms/step - loss: 0.5636 - accuracy: 0.7219
Epoch 6/103
804/804 [==============================] - 2s 3ms/step - loss: 0.5634 - accuracy: 0.7217
Epoch 7/103
804/804 [==============================] - 3s 4ms/step - loss: 0.5626 - accuracy: 0.7231
Epoch 8/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5627 - accuracy: 0.7223
Epoch 9/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5620 - accuracy: 0.7227
Epoch 10/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5613 - accuracy: 0.7233
Epoch 11/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5612 - accuracy: 0.7231
Epoch 12/103
804/804 [==============================] - 2s 3ms/step - loss: 0.5616 - accuracy: 0.7231
Epoch 13/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5611 - accuracy: 0.7240
Epoch 14/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5613 - accuracy: 0.7233
Epoch 15/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5606 - accuracy: 0.7236
Epoch 16/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5607 - accuracy: 0.7238
Epoch 17/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5603 - accuracy: 0.7233
Epoch 18/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5601 - accuracy: 0.7241
Epoch 19/103
804/804 [==============================] - 2s 3ms/step - loss: 0.5601 - accuracy: 0.7222
Epoch 20/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5601 - accuracy: 0.7242
Epoch 21/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5597 - accuracy: 0.7242
Epoch 22/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5596 - accuracy: 0.7243
Epoch 23/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5595 - accuracy: 0.7243
Epoch 24/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5596 - accuracy: 0.7231
Epoch 25/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5594 - accuracy: 0.7214
Epoch 26/103
804/804 [==============================] - 2s 3ms/step - loss: 0.5593 - accuracy: 0.7232
Epoch 27/103
804/804 [==============================] - 3s 3ms/step - loss: 0.5589 - accuracy: 0.7237
Epoch 28/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5587 - accuracy: 0.7249
Epoch 29/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5583 - accuracy: 0.7248
Epoch 30/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5582 - accuracy: 0.7253
Epoch 31/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5580 - accuracy: 0.7252
Epoch 32/103
804/804 [==============================] - 2s 3ms/step - loss: 0.5583 - accuracy: 0.7241
Epoch 33/103
804/804 [==============================] - 2s 3ms/step - loss: 0.5579 - accuracy: 0.7248
Epoch 34/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5580 - accuracy: 0.7261
Epoch 35/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5578 - accuracy: 0.7262
Epoch 36/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5576 - accuracy: 0.7259
Epoch 37/103
804/804 [==============================] - 2s 3ms/step - loss: 0.5575 - accuracy: 0.7257
Epoch 38/103
804/804 [==============================] - 5s 7ms/step - loss: 0.5574 - accuracy: 0.7248
Epoch 39/103
804/804 [==============================] - 2s 3ms/step - loss: 0.5576 - accuracy: 0.7257
Epoch 40/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5573 - accuracy: 0.7260
Epoch 41/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5571 - accuracy: 0.7263
Epoch 42/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5573 - accuracy: 0.7250
Epoch 43/103
804/804 [==============================] - 2s 3ms/step - loss: 0.5571 - accuracy: 0.7260
Epoch 44/103
804/804 [==============================] - 2s 3ms/step - loss: 0.5571 - accuracy: 0.7260
Epoch 45/103
804/804 [==============================] - 2s 3ms/step - loss: 0.5571 - accuracy: 0.7251
Epoch 46/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5568 - accuracy: 0.7258
Epoch 47/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5569 - accuracy: 0.7265
Epoch 48/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5568 - accuracy: 0.7264
Epoch 49/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5565 - accuracy: 0.7259
Epoch 50/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5568 - accuracy: 0.7257
Epoch 51/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5565 - accuracy: 0.7271
Epoch 52/103
804/804 [==============================] - 2s 3ms/step - loss: 0.5563 - accuracy: 0.7264
Epoch 53/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5564 - accuracy: 0.7256
Epoch 54/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5568 - accuracy: 0.7255
Epoch 55/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5564 - accuracy: 0.7266
Epoch 56/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5566 - accuracy: 0.7259
Epoch 57/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5562 - accuracy: 0.7264
Epoch 58/103
804/804 [==============================] - 2s 3ms/step - loss: 0.5563 - accuracy: 0.7257
Epoch 59/103
804/804 [==============================] - 2s 3ms/step - loss: 0.5565 - accuracy: 0.7264
Epoch 60/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5561 - accuracy: 0.7261
Epoch 61/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5557 - accuracy: 0.7262
Epoch 62/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5563 - accuracy: 0.7262
Epoch 63/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5562 - accuracy: 0.7264
Epoch 64/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5564 - accuracy: 0.7261
Epoch 65/103
804/804 [==============================] - 2s 3ms/step - loss: 0.5559 - accuracy: 0.7262
Epoch 66/103
804/804 [==============================] - 2s 3ms/step - loss: 0.5558 - accuracy: 0.7267
Epoch 67/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5560 - accuracy: 0.7266
Epoch 68/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5557 - accuracy: 0.7268
Epoch 69/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5560 - accuracy: 0.7258
Epoch 70/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5561 - accuracy: 0.7254
Epoch 71/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5558 - accuracy: 0.7251
Epoch 72/103
804/804 [==============================] - 3s 3ms/step - loss: 0.5559 - accuracy: 0.7255
Epoch 73/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5556 - accuracy: 0.7255
Epoch 74/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5558 - accuracy: 0.7256
Epoch 75/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5557 - accuracy: 0.7248
Epoch 76/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5553 - accuracy: 0.7264
Epoch 77/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5558 - accuracy: 0.7269
Epoch 78/103
804/804 [==============================] - 2s 3ms/step - loss: 0.5557 - accuracy: 0.7263
Epoch 79/103
804/804 [==============================] - 3s 3ms/step - loss: 0.5554 - accuracy: 0.7266
Epoch 80/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5554 - accuracy: 0.7265
Epoch 81/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5551 - accuracy: 0.7259
Epoch 82/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5554 - accuracy: 0.7271
Epoch 83/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5552 - accuracy: 0.7267
Epoch 84/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5554 - accuracy: 0.7273
Epoch 85/103
804/804 [==============================] - 3s 3ms/step - loss: 0.5552 - accuracy: 0.7265
Epoch 86/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5553 - accuracy: 0.7263
Epoch 87/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5554 - accuracy: 0.7255
Epoch 88/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5554 - accuracy: 0.7252
Epoch 89/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5554 - accuracy: 0.7254
Epoch 90/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5552 - accuracy: 0.7263
Epoch 91/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5558 - accuracy: 0.7261
Epoch 92/103
804/804 [==============================] - 3s 3ms/step - loss: 0.5556 - accuracy: 0.7256
Epoch 93/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5550 - accuracy: 0.7259
Epoch 94/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5550 - accuracy: 0.7265
Epoch 95/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5554 - accuracy: 0.7264
Epoch 96/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5552 - accuracy: 0.7264
Epoch 97/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5551 - accuracy: 0.7262
Epoch 98/103
804/804 [==============================] - 2s 3ms/step - loss: 0.5552 - accuracy: 0.7259
Epoch 99/103
804/804 [==============================] - 2s 3ms/step - loss: 0.5551 - accuracy: 0.7262
Epoch 100/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5551 - accuracy: 0.7259
Epoch 101/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5551 - accuracy: 0.7267
Epoch 102/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5548 - accuracy: 0.7269
Epoch 103/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5550 - accuracy: 0.7259

In [41]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5569 - accuracy: 0.7310 - 786ms/epoch - 3ms/step
Loss: 0.5568758249282837, Accuracy: 0.7309620976448059

In [ ]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_optimized.h5')